/* .svg-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_autoHeight {
        height: auto;
    }
} */
/* svg {
    width: 5px;
    height: 13px;
} */